body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.important {
    font-weight: bold;
    text-decoration: underline;
}

#minecraft_wiki_info {
    text-align: center;
}

#text {
    width: 500px;
    height: 400px;
}

#image {
    position: absolute;
    top: 50px;
    left: 600px;
    width: 200px;
}
